@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #1C568A;
    --secondary-color: #D5E4F6;
    --accent1-color: #8A7E6C;
    --accent2-color: #675D52;
    --accent3-color: #7BC5FE;
  
    --title-font: 'Lobster', serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --heading-font: 'EB Garamond', serif;
  
    --nav-background-color: #7BC5FE;
    --nav-link-color: #8A7E6C;
    --nav-hover-link-color: #675D52;
    --nav-hover-background-color: #1C568A;
}

h1 {
    font-family: var(--title-font);
    color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    background-color: #675D52;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}

.hero {
    position: relative;
}

article {
    position: absolute;
    top: 160px;
    background-color: rgba(10, 20, 200, .2);
}

article img {
    float: right;
}

header img {
    width: 6rem;
    height: auto;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
}